{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %} Fanfic.pl {% endblock title %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />
	<script src="{% static 'js/uikit.min.js' %}"></script>
	<script src="{% static 'js/uikit-icons.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<header> {% include 'base/navbar.html' %} </header>
<body>
    {% block content %}
    {% endblock content %}
</body>
<footer>
	{% block footer %}
	{% endblock footer %}
</footer>
{% block javascript %} {% endblock javascript %}
</html>