{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="banner" uk-scrollspy="cls:uk-animation-fade" class="uk-background-blend-overlay uk-background-secondary uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light uk-text-center" data-src="{% static 'img/banner.jpg' %}" uk-img>
	<div class="uk-width-4-5" uk-scrollspy="cls:uk-animation-slide-left-medium">
		<div>
			<h1 class="uk-heading-primary">Czytaj, twórz, baw się dobrze!</h1>
			<form class="uk-search uk-search-large" style="border-bottom: 1px solid white;" method="GET" action="{% url 'fandoms' %}">
			    <span uk-search-icon></span>
			    <input class="uk-search-input" name="search" type="search" placeholder="">
			</form>
			<h4 class="uk-margin-remove">Wyszukaj swój fandom</h4>
		</div>
  	</div>
</div>
<div class="uk-container" style="margin-top: -100px;">
	<div class="uk-child-width-1-5@m uk-child-width-1-4@s uk-text-center uk-flex-center" uk-grid uk-height-match="target: > div > .uk-card" uk-scrollspy="target: > div; cls: uk-animation-slide-bottom; delay: 200">
	    <div>
	        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-card-small uk-card-hover">
	        	<img src="{% static 'img/open-book.png' %}" style="height: 60px;"/>
	        	<h4 class="uk-text-large">Fanfici</h4>
	        </div>
	    </div>
	    <div>
	        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-card-small uk-card-hover">
	        	<img src="{% static 'img/contract.png' %}" style="height: 60px;"/>
	        	<h4 class="uk-text-large">Twórz</h4>
	        </div>
	    </div>
	    <div>
			<a class="uk-link-reset" href="{% url 'fandoms' %}">
				<div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-card-small uk-card-hover">
					<img src="{% static 'img/group.png' %}" style="height: 60px;"/>
					<h4 class="uk-text-large">Fandomy</h4>
				</div>
			</a>
	    </div>
	   	<div>
	        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-card-small uk-card-hover">
	        	<img src="{% static 'img/books.png' %}" style="height: 60px;"/>
	        	<h4 class="uk-text-large">Opowiadania</h4>
	        </div>
	    </div>
	</div>
</div>

<div class="uk-container uk-container-small uk-padding-large" uk-scrollspy="cls:uk-animation-fade; delay: 800">
	<article class="uk-article">

		<h1 class="uk-article-title">Czym jest Fanfic.pl?</h1>

		<p class="uk-text-lead">Fanfic.pl jest dość ekspresowo powstającym projektem, który w przystępnej formie ma pozwolić na dzielenie się kreatywnością w obrębie fandomów.</p>
		<p>Niestety fanfic.pl powstaje bardzo ekspresowo - tak naprawdę w krótkiej przerwie międzysemestralnej na studiach 😓.</p>
		<p>Miałem też długą przerwę od tego typu aktywności, więc wiele rzeczy muszę sobie przypominać. Jednak jak widać projekt powstał i będzie rozwijany. Rozwija go nie tylko mój wkład, ale wkład każdego użytkownika, który uzupełnia stronę jakąkolwiek treścią <i>(komentarze, tłumaczenia, fanfici, opowiadania)</i>. </p>
		<p>Projekt póki co wydany jest bardziej w formie <b>BETA</b>, ale celuje w wiele udogodnień na jakie żadne w tym momencie strony tego pokroju jeszcze sobie nie pozwoliły. Będzie rozwijany... spokojnie...</p>

	</article>
</div>

{% endblock content %}